body {
  font-family: "Nunito", sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-form {
  max-width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
}

.form-label {
  font-weight: 600;
  text-align: justify;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #15273b !important;
}

a:hover {
  color: crimson;
}
